.pwd-page {
    background: #fff;
    color: #000;
}

.page-title {
    color: #000;
}

.pwd-page__form .submit {
    margin-top: 1.87rem;
    font-size: 0.48rem;
}

.pwd-page__form .imgCaptcha {
    height: 100%;
    width: 100%;
    color: #fff;
}

.pwd-page .rule-infor {
    margin-top: 1.87rem;
}

.pwd-page .rule-infor .rule-infor__item {
    font-size: 12px;
    color: #8E8E8F;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.pwd-page .rule-infor .rule-infor__item-highlight {
    color: darkorange;
}